@font-face {
    font-family: Permanent ;
    src: url(fonts/PermanentMarker-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #7f0909;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

main{
    background-color: #7f0909;
}

/*style page connexion*/

#login{
    background-color: #420404;
}

#container{
    background-color:#ffdb00;
    justify-content: center;
    margin: 150px 200px;
    padding: 90px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

#container img{
    height: 400px;
}

.log{
    display: flex;
    flex-direction: column;
    margin-right: 200px;
}

.log h2{
    font-family: Permanent;
    color:#7f0909;
    font-size: 40px;
    margin-bottom: 20px;
}

#login-form{
    display: flex;
    flex-direction: column;
}

#register-form{
    display: flex;
    flex-direction: column;
}

#login-form input{
    height: 30px;
    width: 100%;
}

#register-form input{
    height: 30px;
    width: 100%;
}

#login-form button{
    height: 30px;
    margin-top: 30px;
}

#register-form button{
    height: 30px;
    margin-top: 30px;
}


/*header*/


.btn{
    margin-top: 60px;
}

.darkmodecustom{
    margin-top: 60px;
}

.dark-mode header {
    background-color: #2A623D;
}

.dark-mode #banniere{
    background-color:  #222f5b;
} 

.dark-mode #cartes {
    background-color: #2A623D;
}

.darkmode-btn{
    border: solid 3px;
    color: #fff;
    font-size: 15px;
    padding: 20px 30px;
    border-radius: 3px;
    cursor: pointer;
    background: none;
    border-radius: 30px;
}

#content button{
    border: solid 3px;
    color: #fff;
    font-size: 15px;
    padding: 20px 30px;
    border-radius: 3px;
    cursor: pointer;
    background: none;
    border-radius: 30px;
    margin-top: 60px;
}

#content button:hover{
    background-color: #ffdb00;
}

.darkmode-btn:hover{
    background-color: #ffdb00;
}

.logo img{
    height: 170px;
    margin-left: 100px;
}

ul.menu{
    display: flex;
    list-style: none;
    gap: 35px;
    margin-top: 60px;
    margin-right: 50px;
}

ul.menu li a {
    color: white;
    text-decoration: none;
    font-size: 40px; 
}

ul.menu li a:hover{
    color: #ffdb00;
    
}

/*style banniere*/

#banniere{
    background-color: #ffdb00;
}

.bannierehp{
    display: flex;
    justify-content: space-between;
}

.droite{
    display: flex;
}

.gauche{
    display: flex;
}

.gauche img{
    height: 100px;
}

.droite img{
    height: 100px;
}

h1{
    font-family: Permanent;
    margin-top: 10px;
    font-size: 50px;
    color: #7f0909;
}

#carte-hp{
    display: flex;
}

#cartes{
    background-color:#7f0909;
}

#cartes h2{
    font-size: 40px;
    margin-left: 50px;
    margin-top: 20px;
}

#booster img{
    height: 250px;
}

/*style carte*/

#characters {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 20px;
    margin-left: 50px;
    padding: 50px;
}
.character-carte {
    border: 2px solid black;
    background-color: #F4A460;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.character-carte img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.character-carte h2, .character-carte p {
    color: #4B2E2A; 
    margin: 2px 0;
}

.character-carte p{
    font-size: 15px;
}

#characters-collection{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}